<footer class="footer">
  <small>
    <a href="http://VetPractice.com/">VetPractice</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", static_pages_about_path %></li>
      <li><%= link_to "Contact", static_pages_contact_path %></li>
      <li><a href="http://VetPractice.com/">News</a></li>
    </ul>
  </nav>
</footer>
